
<%if user.photos.any?%>
<%bg = user.random_picked_photo.image.url(:medium)%>
<%else%>
<%bg = 'http://lorempixel.com/850/280/nature/4/'%>
<%end%>
<div class="col-md-3 grid-item">
    <div class="" style="background: url(<%=bg%>);background-size:cover;height:100px;"></div>
    <div class="block" align="center">
        <div class="avatar" style="margin:-40px 0px 0px 0px"><%=image_tag user.avatar.url(:medium), class: "img-circle", size: "80x80"%></div>
        <div style="position:relative;">
            <div style="position:absolute;bottom:0;padding-bottom:10px; height: 40px;">
                <% if user_signed_in? %>
                <div id="follow_user" style="">
                    <%#= render :partial => "shared/follow_user", :locals => {:user => user, btnsize: "btn-xs"} %>
                </div>
                <% end %>
                <br>
            </div>
        </div>
        <h3 style="margin-bottom:0px; margin-top:0px;font-size:15px;"><%=user.full_name%></h3>
        <%=link_to "@#{user.slug}",  community_page_url(subdomain: "#{user.slug}") %>
        <ul class="list-unstyled text-center list-inline">
          <li>
            <%=link_to "#" do%>
              <span class="glyphicon glyphicon-envelope"></span>
            <%end%>
          </li>
          <li>
            <%=link_to take_three_photos_url(user_id: user.id), remote: true, data: { opento: :modal }  do%>
              <span class="glyphicon glyphicon-search"></span>
            <%end%>
          </li>
        </ul>
    </div>
</div>
