<div class="row clearfix">
     <%#=render partial: "users/user"%>
    <div class="row">
         <div class="col-md-4">
            <ul class="list-unstyled">
                <li><%=image_tag @user.avatar.url(:medium)%></li>
                <li>
                    <br>
                    <%unless @user.address.blank?%><i class="fa fa-map-marker lead" aria-hidden="true"></i> <%=@user.address%><br><%end%>
                    <i class="fa fa-globe lead" aria-hidden="true"></i> <%=professional_page_url(@user)%><br>
                    <i class="fa fa-envelope lead" aria-hidden="true"> <%=@user.email%></i>
                </li>
                <li class="social-icons">
                  <ul class="list-unstyle list-inline lead">
                      <li><%=link_to @user.fb_link do %><i class="fa fa-facebook"></i><%end%></li>
                      <li><%=link_to @user.twitter_link do %><i class="fa fa-twitter"></i><%end%></li>
                      <li><%=link_to @user.ig_link do %><i class="fa fa-instagram"></i><%end%></li>
                      <li><%=link_to @user.tumblr_link do %><i class="fa fa-tumblr"></i><%end%></li>
                  </ul>
                </li>
          </ul>

         </div>
         <div class="col-md-8">
           <blockquote>
             <p class="lead"><%=@user.about_me%></p>
            </blockquote>
         </div>
   </div>
</div>
