<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <%@setting.qoutes_random.each_with_index  do |qoute,index|%>
    <li data-target="#myCarousel" data-slide-to="<%=index%>" class="<%='active' if index == 0 %>"></li>
    <%end%>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <%@setting.qoutes_random.each_with_index do |qoute,index|%>
      <div class="item <%='active' if index == 0 %>">
        <blockquote>
          <p><%=qoute.description%></p>
          <footer><%=qoute.author%></footer>
        </blockquote>
      </div>
    <%end%>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
