<div id="carousel-qoutes" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <%@setting.qoutes_random.each_with_index  do |qoute,index|%>
    <li data-target="#carousel-qoutes" data-slide-to="<%=index%>" class="<%='active' if index == 0 %>"></li>
    <%end%>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <%@setting.qoutes_random.each_with_index do |qoute,index|%>
      <div class="item <%='active' if index == 0 %>">
        <center>
        <blockquote>
        	<h3><%=qoute.description%>
            <footer><%=qoute.author%></footer>
          </h3>
        </blockquote>
      </center>
      </div>
    <%end%>
  </div>
  <a class="left carousel-control" href="#carousel-qoutes" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-qoutes" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
