<div class="row">
  <div class="col-md-8">
    <% @fa=@featured_artists.take(1).first%>
    <%=@fa.photos.inspect%>
  </div>
  <div class="col-md-4">
    <a href="http://placehold.it"><img src="http://placehold.it/390x229"></a>
    <div id="comments" style="">
    <%= commontator_thread(@featured_artist) %>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="col-md-12"></div>
    <h3>More Featured Artist</h3>
      <div class="row grid">
        <%@featured_artists.each do |user|%>
          <div class="col-md-3 grid-item">
              <%#=user.inspect%>
              <dl  class="dl-horizontal text-left" style="width:100%">
              <dt style="width:80px;"><%=image_tag user.avatar.url(:thumb), size: "70x70"%></dt>
              <dd style="margin-left:90px;">
                  <ul class="list-unstyled">
                        <li>
                            <%=link_to community_page_url(subdomain: "#{user.slug}") do%>@<%=user.username%><%end%>
                        </li>
                  </ul>
              </dd>
            </dl>
          </div>
          <%end%>
      </div>

  </div>
</div>
