
<div class="row">
    <div class="col-md-3">
      <%if @advertisement%>
          <%=link_to @advertisement.link, target: "_blank" do %>
              <%=image_tag @advertisement.image.url(:medium), size: "260x229"%>
          <%end%>
      <%else%>
          <%=link_to "#{rails_admin_url}/admin~advertisement", target: "_blank" do %>
              <%=image_tag "http://placehold.it/260x229", size: "260x229"%>
          <%end%>
      <%end%>
    </div>
    <div class="col-md-6">


        <%if @media_id %>
              <%user_ig = @ig_photos.find { |x|
                    #x["users_in_photo"].find{ |y| y["id"]==@media_id }
                    x["id"] == @media_id
                 } %>
            <div class="row">
              <%=link_to user_ig["link"], target: "_blank" do%>
                <center><%=image_tag  user_ig["images"]["standard_resolution"]["url"], class: "responsive text-center", width: "90%", heigth: "90%" %></cener>
              <%end%>
            </div>
              <p class="pull-right"></p>
                <h4>Featured Artist
                <%user_ig["users_in_photo"].each do |u| %>
                    <%=link_to "@#{u["user"]["username"]}", "https://www.instagram.com/#{u["user"]["username"]}", target: "_blank" %>
                    <%#=link_to "@#{u["user"]["username"]}", "https://www.instagram.com/#{u["user"]["username"]}" %>
                <%end%>
              </h4>

        <%else%>

            <%if @fa.photos.any?%>
                <%=image_tag @photo.image.url, size: "860x420" %>
            <%else%>
                <img src="http://placehold.it/860x420">
            <%end%>
            <p class="pull-right"><b><%=@photo.views%></b> views</p>
            <h4>Featured Artist <%=link_to community_page_url(subdomain: "#{@fa.slug}") do%>@<%=@fa.username%>  <%end%></h4>
            <%if !@photo.new_record?%>
              <p><b>Publish Date</b> : <%=@photo.created_at.strftime("%e %b, %Y") %></p>
            <%end%>
        <%end%>
    </div>
    <div class="col-md-3">

        <div id="comments" style="">

            <%#= commontator_thread(@@ig_photos_sample) %>
              <%#= commontator_thread(@photo) %>
            <%#=@setting.media_comments(@media_id)%>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-comment"></span> 
                        Recent Comments
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <%@comments.each do |comment|%>
                            <%#=comment%>
                            <li class="media">
                                <div class="media-left">
                                    <%=image_tag comment["from"]["profile_picture"], class: "img-circle", size: "60x60"%>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <%=comment["from"]["username"]%>
                                    </h4>
                                    <p>
                                        <%=comment["text"]%>
                                    </p>
                                </div>
                            </li>
                        <%end%>
                    </ul>
                    <!-- <a href="#" class="btn btn-default btn-block">More Events »</a> -->
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="row grid">
        <h3 align="center">More Featured Artists</h3>
        <%@ig_photos.each do |item|%>
            <div class="col-md-3 grid-item">
                <dl  class="dl-horizontal text-left" style="width:100%">
                    <dt style="width:80px;">
                        <%=link_to feature_artists_url(ig_id: item["id"])  do%><%=image_tag item["images"]["thumbnail"]["url"], size: "70x70"%><%end%>
                    </dt>
                    <dd style="margin-left:90px;">
                        <ul class="list-unstyled">
                            <li>
                                  <%=link_to feature_artists_url(ig_id: item["id"])  do%>
                                    <%item["users_in_photo"].each do |u| %>
                                        @<%=u["user"]["username"]%>

                                    <%end%>
                                  <%end%>
                                  <br><%=pluralize(item["comments"]["count"], 'comment', 'comments') if item["comments"]["count"].to_i != 0%>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        <%end%>
    </div>
  </div>
</div>
