<%count_ig_photos=20%>
<div class="row">
    <div class="col-md-9">

        <%media_id =  params[:ig_id]  || @setting.instagram_photos(count_ig_photos).sample["id"]%>
        <%if media_id %>
              <%user_ig = @setting.instagram_photos(count_ig_photos).find { |x|
                    #x["users_in_photo"].find{ |y| y["id"]==media_id }
                    x["id"] == media_id
                 } %>
            <div class="row">
              <%=link_to feature_artists_url(ig_id: user_ig["id"]) do%>
                <center><%=image_tag  user_ig["images"]["standard_resolution"]["url"], class: "responsive text-center" %></cener>
              <%end%>
            </div>
              <p class="pull-right"><b><%= user_ig["comments"]["count"]%></b> comments</p>
                <h4>Featured Artist
                <%user_ig["users_in_photo"].each do |u| %>
                    <%=link_to "@#{u["user"]["username"]}", "https://www.instagram.com/#{u["user"]["username"]}" %>
                <%end%>
              </h4>

        <%else%>

            <%if @fa.photos.any?%>
                <%=image_tag @photo.image.url, size: "860x420" %>
            <%else%>
                <img src="http://placehold.it/860x420">
            <%end%>
            <p class="pull-right"><b><%=@photo.views%></b> views</p>
            <h4>Featured Artist <%=link_to community_page_url(subdomain: "#{@fa.slug}") do%>@<%=@fa.username%>  <%end%></h4>
            <%if !@photo.new_record?%>
              <p><b>Publish Date</b> : <%=@photo.created_at.strftime("%e %b, %Y") %></p>
            <%end%>

        <%end%>
<!--
            <div class="row grid">
                <h3 align="center">More Featured Artists</h3>
                <%@featured_artists.each do |user|%>
                    <div class="col-md-4 grid-item">
                        <dl  class="dl-horizontal text-left" style="width:100%">
                            <dt style="width:80px;">
                                <%photo= user.photos.order("RANDOM()").first || Photo.new %>
                                <%if user.photos.any?%>
                                    <%=image_tag photo.image.url, size: "70x70"%>
                                <%else%>
                                    <img src="http://placehold.it/70x70">
                                <%end%>
                            </dt>
                            <dd style="margin-left:90px;">
                                <ul class="list-unstyled">
                                    <li>
                                        <%=link_to community_page_url(subdomain: "#{user.slug}") do%>@<%=user.username%><%end%>
                                        <p style="margin-bottom:2px;font-size: 12px;"><b><%=photo.views%></b> views <b><%=photo.thread.comments.count%></b> comments</p>
                                        <%if user.photos.any?%>
                                            <p style="margin-bottom:2px;font-size: 12px;"><b>Publish Date</b> : <%=photo.created_at.strftime("%e %b, %Y")%></p>
                                        <%end%>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                <%end%>
            </div> -->


            <div class="row grid">
                <h3 align="center">More Featured Artists</h3>
                <%@setting.instagram_photos(count_ig_photos).each do |item|%>
                    <div class="col-md-4 grid-item">
                        <dl  class="dl-horizontal text-left" style="width:100%">
                            <dt style="width:80px;">
                                <%=link_to feature_artists_url(ig_id: item["id"])  do%><%=image_tag item["images"]["thumbnail"]["url"], size: "70x70"%><%end%>
                            </dt>
                            <dd style="margin-left:90px;">
                                <ul class="list-unstyled">
                                    <li>
                                          <%=link_to feature_artists_url(ig_id: item["id"])  do%>
                                            <%item["users_in_photo"].each do |u| %>
                                                @<%=u["user"]["username"]%>
                                            <%end%>
                                          <%end%>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                <%end%>
            </div>
    </div>
    <div class="col-md-3">
        <%if @advertisement%>
            <%=link_to @advertisement.link, target: "_blank" do %>
                <%=image_tag @advertisement.image.url(:medium), size: "260x229"%>
            <%end%>
        <%else%>
            <%=link_to "#{rails_admin_url}/admin~advertisement", target: "_blank" do %>
                <%=image_tag "http://placehold.it/260x229", size: "260x229"%>
            <%end%>
        <%end%>
        <div id="comments" style="">
            <%if @fa.photos.any?%>
                <%= commontator_thread(@photo) %>
            <%end%>
              <%#= commontator_thread(@photo) %>
            <%#=@setting.media_comments(media_id)%>
        </div>
    </div>
</div>
