<%= form_for(:user, :url => user_session_path) do |f| %>
<li>
    <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :email, class: "form-control", value: "" %>
        </div>
    </div>
</li>
<li>
    <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
            <%= f.password_field :password, class: "form-control" %>
        </div>
    </div>
</li>
<li>
    <div class="control-group">
      <br>
        <div class="controls">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, :class => "control-label" %>

        </div>
    </div>
</li>
<% end %>

    <%=button_tag "Sign in", :class => "btn btn-primary form-control", onclick: "javascript: $(this).prev('form').trigger('submit.rails')" %>
    <hr style="margin-top: 7px; margin-bottom: 7px; ">
    <%=button_tag "Login with Facebook", :class => "btn btn-primary form-control" %>
