<%= form_for(@user, url: user_path(@user),  authenticity_token: true, remote: true , html: { method: :patch, class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%=f.label :fb_link, class: "col-sm-1 lead text-right" do %>
        <i class="fa fa-facebook"></i>
    <%end%>
    <div class="col-sm-11">
        <%=f.text_field :fb_link, placeholder: "facebook", class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :ig_link, class: "col-sm-1 lead text-right" do %>
        <i class="fa fa-instagram"></i>
    <%end%>
    <div class="col-sm-11">
        <%=f.text_field :ig_link, placeholder: "instagram", class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :twitter_link, class: "col-sm-1 lead text-right" do %>
        <i class="fa fa-twitter"></i>
    <%end%>
    <div class="col-sm-11">
        <%=f.text_field :twitter_link, placeholder: "twiiter", class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%=f.label :tumblr_link, class: "col-sm-1 lead text-right" do %>
        <i class="fa fa-tumblr"></i>
    <%end%>
    <div class="col-sm-11">
        <%=f.text_field :tumblr_link, placeholder: "twiiter", class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
      <div class="pull-right">
          <%=f.submit class: "btn btn-primary"%>
      </div>
  </div>

<%end%>
