<div class="row">
    <div class="col-sm-12">
        <h3> Art Basic Information</h3>
        <hr>
        <%= form_for @photo, url: photos_path, data: { form: "photo", remote: true },  html: { multipart: true, class: "form-horizontal" } do |f| %>
            <div class="col-md-6">
                <div class="form-group required">
                    <%=f.label :image, class: "control-label" %>
                    <div class="dropzone-photo " data-preview=photo data-thumbnail=photo style="cursor: pointer;min-height: 150px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      background: white;">
                        <div class="dz-message" style=" text-align: center;
      margin: 7em 0;">
                            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="fallback">
                            <label style="display:none;"><%= f.file_field :image %></label>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <%=f.label :title, class: "col-md-2 control-label pull-left" %>
                    <div class="col-md-10">
                        <%=f.text_field :title, class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-12">
                    <%=f.label :social_description %>
                    <%=f.text_area :social_description, class: "form-control", rows: 5%>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <%=f.label :same_description_on_professional_page, class: "col-sm-9" %>
                        <div class="col-sm-3"><%=f.check_box :same_description_on_professional_page %></div>
                    </div>
                    <div class="col-md-6">
                        <%=f.label :on_professional_page, class: "col-sm-9" %>
                        <div class="col-sm-3"><%=f.check_box :on_professional_page, { data: { disabled: "#photo_professional_description" } }%></div>
                    </div>
                </div>
                <!-- <div class="div_on_professional_page" > -->
                    <div class="form-group col-md-12">
                        <%=f.label :professional_description %>
                        <%=f.text_area :professional_description, class: "form-control", rows: 5, disabled: true %>
                    </div>
                <!-- </div> -->
                <h3>Art Analysis</h3>
                <div class="form-group">
                    <%=f.label :medium, class: "col-md-5" %>
                    <div class="col-md-7">
                        <%=f.text_field :medium, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <%=f.label :gene, class: "col-md-5" %>
                    <div class="col-md-7">
                        <%=f.text_field :gene, class: "form-control"%>
                    </div>
                </div>
                <div class="form-group">
                    <%=f.label :subject_matter, class: "col-md-5" %>
                    <div class="col-md-7">
                        <%=f.text_field :subject_matter, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <%=f.label :mature_content, class: "col-md-5" %>
                    <div class="col-md-7">
                        <%=f.check_box :mature_content, class: "pull-left" %>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" id="btnclose" data-dismiss="modal">Cancel</button>
                    <%=f.submit class: "btn btn-primary" %>
                </div>
            </div>
        <%end%>
    </div>
</div>
