<h3>Upload Photo</h3>
<%= form_for @photo, url: photos_path, html: { multipart: true, role: "form", class: "form-horizontal" } do |f| %>
  <%=f.hidden_field :user_id %>
  <div class="form-group">
    <%=f.label :image, class: "col-sm-1"%>
   <div class="col-sm-5"><%= f.file_field :image, class: "form-control"%></div>
 </div>
 <div class="form-group">
  <%=f.label :description, class: "col-sm-12"%>
  <div class="col-sm-6"><%=f.text_area :description, class: "form-control"%></textarea></div>
</div>
<div class="form-group">
  <div class="col-sm-6">
    <%=f.submit class: "btn btn-primary"%>
  </div>
</div>
<% end %>
