<div class="col-md-12 author-area">
    <%=image_tag @photo.user.avatar.url, size: "25x25", class: "img-circle" %>
    <%=link_to @photo.user.full_name,  community_page_url(subdomain: "#{@photo.user.slug}") %>
    on
    <%=@photo.created_at.strftime("%B %-d, %Y")%>
</div>
<div class="col-md-12" style="padding-left:12%;padding-right:12%;position:relative;">
  <div><%=image_tag @photo.image.url(:medium), style: "max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;"%></div>
  <div id="accordion" class="col-md-12">
      <h3 class="text-center"><a href="javascript: void(0)"> </a></h3>
      <div class="col-md-12">
          <div class="col-md-6">
            <%if !@photo.medium.blank? || !@photo.gene.blank? || !@photo.subject_matter.blank?%>
                <div class="art-analysis-area">
                <h3>Art Analysis</h3>
                    <table class="table text-center">
                      <tbody>
                        <%if !@photo.medium.blank?%>
                          <tr>
                            <td><b>Medium :</b>#<%=@photo.medium%></td>
                          </tr>
                        <%end%>
                        <%if !@photo.gene.blank?%>
                          <tr>
                            <td><b>Gene : </b>#<%=@photo.gene%> </td>
                          </tr>
                        <%end%>
                        <%if !@photo.subject_matter.blank?%>
                          <tr>
                            <td><b>Subject : #</b><%=@photo.subject_matter%></td>
                          </tr>
                        <%end%>
                      </tbody>
                    </table>
                </div>
            <%end%>
            <%if @photo.tools.any?%>
            <div class="art-analysis-area">
              <h3>Tools</h3>
              <p> <%=@photo.tools.pluck(:name).to_sentence%></p>
            </div>
            <%end%>
          </div>
          <div class="col-md-6">
            <%if user_signed_in?%>
                <div class="comments-area" id="thread_<%= @photo.thread.id %>_div">
                <%= render :partial => 'commontator/threads/show',
                                        :locals => { :thread => @photo.thread,
                                        :user => current_user,
                                        :page => @commontator_page,
                                        :per_page => @commontator_per_page,
                                        :show_all => false } %>
                </div>
              <%end%>
          </div>
      </div>
  </div>
  <%=javascript_tag do %>
  $("#accordion").accordion({
                   autoHeight: false,
                   collapsible: true,
                   active: false
               });
  <%end%>
</div>
<div class="col-md-12" >

    <div class="col-md-6 left-photo-preview-panel">

        <ul class="list-unstyled list-inline ">
          <li>
            <div data-render="photos btn-votable">
              <%=render partial: "photos/btn_upvote"%>
            </div>
          </li>
          <li><span><i class="fa fa-eye"></i> <%=pluralize(@photo.views,"view", "views")%></span></li>
          <li ><div class="social-icons-area" ><%= social_share_button_tag(@photo.title, url: "#{photo_url(@photo)}", image: @photo.image.url, :allow_sites => %w(facebook google_plus twitter tumblr)) %> </div></li>
        </ul>
    </div>

    <div class="col-md-6">
      <%#=render partial: "commontator/comments/form", locals: { comment: @new_comment, thread: @new_comment.thread } %>
      <br>
      <%if user_signed_in?%>
        <%=form_for @new_comment, url: commontator.thread_comments_path(@new_comment.thread), remote: true do |f|%>
        <div class="col-sm-9"><%=f.text_area :body, class: "form-control"%> </div><div class="col-sm-3" style="margin: 0px !important;padding: 0px !important;"><%=f.submit "comment", class: "btn btn-primary pull-left"%></div>
        <%end%>
      <%end%>

    </div>

</div>

  <%modal_target = session[:page_type] == 1 ? "#modal_for_professional_preview" : "#modal_for_community_preview"%>
  <div style="position:absolute; left: 0; margin-left:-40px;top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);">
  <%=button_to photo_url(@photo.previous),
    remote: true, method: :get, class: "btn"  do%>
    &#8249;
  <%end%>
  </div>
    <div style="position:absolute; right: 0;margin-right:-40px;top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);">
  <%=button_to photo_url(@photo.next),
    remote: true, method: :get, class: "btn"  do%>
    &#8250;
  <%end%>
  </div>
