<!-- <div class="photo grid-item">
    <%=link_to photo_url(photo), remote: true, data: { target: "preview" }  do%>
        <%=image_tag photo.image.url(:medium) %>
        <div class="caption">
            <h4><%=photo.title%></h4>
            <%=link_to user_url(photo.user), method: :get do%>
            <%=image_tag photo.user.avatar.url(:thumb), class: "img-circle", size: "20x20"%>
            <%="@#{photo.user.username}"%>
            <%end%>
            <p><%=photo.description%><p/>
        </div>
    <%end%>
</div> -->
<div class="photo item">
    <%=link_to photo_url(photo), remote: true, data: { target: "preview" }  do%>
    <%=image_tag photo.image.url(:medium), style: "width: 100%;" %>
    <%end%>
    <!-- <div class="caption">
        <%if !photo.title.blank?%>
        <h4><%=photo.title%></h4>
        <%end%>
        <%=link_to user_url(photo.user), method: :get do%>
        <%=image_tag photo.user.avatar.url(:thumb), class: "img-circle", size: "20x20"%>
        <%="@#{photo.user.username}"%>
        <%end%>
        <%if !photo.description.blank?%>
        <p><%=photo.description%><p/>
        <%end%>
    </div> -->
</div>
