<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%if user_signed_in?%>
                <%if current_page?(professional_page_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_portfolio_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_contact_url(subdomain: "#{current_user.slug}")) ||
                current_page?(professional_page_shop_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_about_url(subdomain: "#{current_user.slug}")) %>
                    <%=link_to "#{current_user.full_name}", professional_page_url(current_user, subdomain: "#{current_user.slug}"), class: "navbar-brand"%>
                 <%else%>
                    <%if Rails.env.production?%>
                      <% url = "http://www.artcartridge.com"%>
                    <%else%>
                      <% url = authenticated_root_url(subdomain: false)%>
                    <%end%>
                    <%=link_to "#{url}", class: "navbar-brand" do %>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <%end%>
                    <%=link_to "@#{current_user.username}", community_page_url(subdomain: "#{current_user.slug}"), class: "navbar-brand"%>
                <%end%>
            <%else%>
                <%=link_to  unauthenticated_root_url(subdomain: false), class: "navbar-brand" do %>
                    ArtCartridge
                <%end%>
            <%end%>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown"></li>
                <%if !user_signed_in?%>
                <li class="active"><%=link_to "About", about_url%></li>
                <li class="active"><%=link_to "Contact", contact_url%></li>
                <li class="active"><%=link_to "Blog", blog_url%></li>
                <%end%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%if user_signed_in?%>
                       <li style="padding: 0px!important;">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 10px 0px 10px 0px;">
                             <span class="glyphicon glyphicon-cog" style="font-size:25px;"></span>
                           </a>
                           <ul class="dropdown-menu" role="menu">
                               <%=render partial: "layouts/navigation_links"%>
                           </ul>
                       </li>
              <%else%>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span>
                        </a>
                        <ul id="dropdown-login" class="dropdown-menu" style="padding: 10px 15px 20px 15px; width: 300px;">
                            <%=render partial: "devise/sessions/form"%>
                        </ul>
                    </li>
              <%end%>
            </ul>
        </div>
    </div>
</nav>
