<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%if user_signed_in?%>
              <%if current_page? authenticated_root_url %>
                <%=link_to "ArtCartridge", authenticated_root_url, class: "navbar-brand"%>
              <%else%>
                <%=link_to authenticated_root_url, class: "navbar-brand" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <%end%>
                <%=link_to "@#{current_user.username}", user_url(current_user), class: "navbar-brand"%>
              <%end%>
            <%else%>
              <%=link_to "ArtCartridge", root_url, class: "navbar-brand"%>
            <%end%>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Search </a> -->
                </li>
                <%if !user_signed_in?%>
                  <li class="active"><%=link_to "About", about_url%></li>
                  <li class="active"><%=link_to "Contact", contact_url%></li>
                  <li class="active"><%=link_to "Blog", blog_url%></li>
                <%end%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%if user_signed_in?%>
                <li class="active"><%=link_to "Upload", new_photo_path%></li>
                <li style="padding: 0px!important;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 10px 0px 10px 0px;">
                        <%=image_tag current_user.avatar.url(:thumb), class: "img-circle", size: "30x30"%>
                        <!-- <span class="caret"></span> -->
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <%=render partial: "layouts/navigation_links"%>
                    </ul>
                </li>
                <%else%>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span>
                    </a>
                    <ul id="dropdown-login" class="dropdown-menu" style="padding: 10px 15px 20px 15px; width: 300px;">
                        <%=render partial: "devise/sessions/form"%>
                    </ul>
                </li>
                <%end%>
            </ul>
            <form class="navbar-form navbar-right search-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                    <span class="input-group-addon" id="basic-addon1">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>
