<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%if user_signed_in? && current_page?(community_page_url(subdomain: "#{@user.slug if @user}"))%>
                  <%url = authenticated_root_url(subdomain: "www") if Rails.env.production?%>
                  <%url = authenticated_root_url(subdomain: false) if !Rails.env.production?%>
                  <%=link_to url, class: "navbar-brand" do %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <%end%>
                  <%=link_to "@#{@user.username}", community_page_url(subdomain: "#{@user.slug}"), class: "navbar-brand"%>
            <%else%>
                <%url = unauthenticated_root_url(subdomain: "www") if Rails.env.production?%>
                <%url = unauthenticated_root_url(subdomain: false) if !Rails.env.production?%>
                <%=link_to url, class: "navbar-brand",style: "padding: 5px 15px" do %>
                    <span><%=image_tag session[:setting].logo.url(:medium), size: "200x38"%></span>
                <%end%>
            <%end%>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <%if !current_page?(community_page_url(subdomain: "#{@user.slug if @user}"))%>
              <ul class="nav navbar-nav navbar-left">
                  <li class="active"><%=link_to "About", about_url%></li>
                  <li class="active"><%=link_to "Featured Artists", feature_artists_url%></li>
                  <li class="active"><%=link_to "References", blog_url%></li>
              </ul>
            <%end%>
            <ul class="nav navbar-nav navbar-right">
              <%if user_signed_in?%>
                      <li class="active" style="">
                          <%=render partial: "photos/btn_new"%>
                      </li>
                       <li style="padding: 0px!important;">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 10px 0px 10px 0px;">
                               <%=image_tag current_user.avatar.url(:thumb), class: "img-circle", size: "30x30"%>
                           </a>
                           <ul class="dropdown-menu" role="menu">
                               <%=render partial: "layouts/navigation_links"%>
                           </ul>
                       </li>
              <%else%>
                    <li>
                      <%=link_to "Join", new_user_registration_path%>  </li>
                    <li clas><a href="#"> |</a> </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span>
                        </a>
                        <ul id="dropdown-login" class="dropdown-menu" style="padding: 10px 15px 20px 15px; width: 300px;">
                            <%=render partial: "devise/sessions/form"%>
                        </ul>
                    </li>
              <%end%>
            </ul>
        </div>
    </div>
</nav>
