<!DOCTYPE html>
<html>
    <head>
        <title>Artcartridge</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag "//cdn.jsdelivr.net/g/lazysizes(lazysizes.min.js)" %>
    </head>
    <body class="<%="modal-mode" if params[:modal_mode]%>">
      <%if !params[:modal_mode]%>

            <header>
            <%#=session[:setting]%>
            <%if session[:page_type] == 1 %>
              <%= render 'layouts/navigation_professional_pages' %>
            <%else%>
              <%= render 'layouts/navigation_community_pages' %>
            <%end%>
            </header>

            <main role="main" id="main">
                <div class="container">
                   <%= render 'layouts/messages' %>
                   <%= yield %>
                   <%#= render 'layouts/modal'%>
                </div>
            </main>

            <%if session[:page_type] == 1 %>
              <footer>
                  <div class="container">
                      <hr>
                      <div class="pull-right">
                         [ LOGO HERE ]
                      </div>
                  </div>
                  <br>
              </footer>
            <%elsif request.subdomain != "www"%>
              <footer class="footer">
                  <%= render 'layouts/footer' %>
              </footer>
            <%end%>
      <%else%>
          <%#= render 'layouts/messages' %>
          <div class="">
            <%= yield %>
          </div>
      <%end%>
        <%=render partial: "modals/modal"%>
        <%#=request.subdomain%>
    </body>
</html>
