<!DOCTYPE html>
<html>
    <head>
        <title>Artcartridge</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <header>
        <%= render 'layouts/navigation' %>
        </header>
        <main role="main" id="main">
            <div class="container">
               <%= render 'layouts/messages' %>
               <%= yield %>
               <%= render 'layouts/modal'%>
            </div>
        </main>
        <footer class="footer">
            <%= render 'layouts/footer' %>
        </footer>
    </body>
</html>
