<!DOCTYPE html>
<html>
    <head>
        <title>Artcartridge</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <header>
        <%= render 'layouts/navigation' %>
        </header>
        <main role="main" id="main">
            <div class="container">
               <%= render 'layouts/messages' %>
               <%= yield %>
               <%= render 'layouts/modal'%>
            </div>
        </main>
        <%if user_signed_in?%>
        <%if current_page?(professional_page_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_portfolio_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_contact_url(subdomain: "#{current_user.slug}")) ||
        current_page?(professional_page_shop_url(subdomain: "#{current_user.slug}")) || current_page?(professional_page_about_url(subdomain: "#{current_user.slug}")) %>
                <footer>
                    <div class="container">
                        <hr>
                        <div class="pull-right">
                           [ LOGO HERE ]
                        </div>
                    </div>
                    <br>
                </footer>
          <%else%>
            <footer class="footer">
                <%= render 'layouts/footer' %>
            </footer>
          <%end%>
        <%else%>
          <footer class="footer">
              <%= render 'layouts/footer' %>
          </footer>
        <%end%>
    </body>
</html>
