<!DOCTYPE html>
<html>
    <head>
        <title>Artcartridge</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    </head>
    <body>
        <header>
        <%if request.subdomain.empty? || request.subdomain == "www" %>
            <%= render 'layouts/navigation' %>
        <%elsif request.subdomain != "www"%>
          <%= render 'layouts/navigation_subdomain' %>
        <%end%>
        </header>
        <main role="main" id="main">
            <div class="container">
               <%= render 'layouts/messages' %>
               <%= yield %>
               <%= render 'layouts/modal'%>
            </div>
        </main>
        <%if request.subdomain.empty? || request.subdomain == "www" %>
            <footer class="footer">
                <%= render 'layouts/footer' %>
            </footer>
        <%elsif request.subdomain != "www"%>
            <footer>
                <div class="container">
                    <hr>
                    <div class="pull-right">
                       [ LOGO HERE ]
                    </div>
                </div>
                <br>
            </footer>
        <%end%>
        <%#=request.subdomain%>
    </body>
</html>
